@{
    ViewData["Title"] = "Home";
}

<div class="container" style="margin-top:30px" id="body">
    <div class="row">
    </div>
    <div class="row">
        <div class="col" id="aboutMe">
            <h2>About me</h2>

            <p>
                I am currently employed for the North Dakota University System as a System Engineer in our Endpoint Services department. I enjoy learning new technologies and playing video games in my free time. I am an avid learner and quick to pick up things I do not already know.
            </p>
        </div>

        <div class="col" id="contact">
            <h2>Contact Me</h2>

            <p>
                Feel free to contact me anytime with any questions or comments you have!
            </p>

            <a href="mailto:cordell.wagendorf@gmail.com">cordell.wagendorf@gmail.com</a>
            <p>(701) 381-9087</p>
        </div>
    </div>
</div>